
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cv Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/Default/Index/" class="brand-link">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-3" style="width:50px" src="https://i.pinimg.com/564x/a6/59/b0/a659b0f9702c23bca3c185013549b90d.jpg" alt="" />
                <span class="brand-text font-weight-light">Siteye Git</span>
            </a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="#" class="d-block"><b>ADMİN PANELİ</b></a>
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="/Hakkimda/Index/" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Hakkımda
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Egitim/Index/" class="nav-link">
                                <i class="nav-icon fas fa-graduation-cap"></i>
                                <p>
                                    Eğitimlerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Deneyim/Index/" class="nav-link">
                                <i class="nav-icon fas fa-briefcase"></i>
                                <p>
                                    Deneyimlerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Hobi/Index/" class="nav-link">
                                <i class="nav-icon fas fa-bookmark"></i>
                                <p>
                                    Hobilerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Yetenek/Index/" class="nav-link">
                                <i class="nav-icon fas fa-code"></i>
                                <p>
                                    Yeteneklerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Sertifika/Index/" class="nav-link">
                                <i class="nav-icon fas fa-certificate"></i>
                                <p>
                                    Sertifikalarım
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Iletisim/Index/" class="nav-link">
                                <i class="nav-icon fas fa-phone"></i>
                                <p>
                                    İletişim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/SosyalMedya/Index/" class="nav-link">
                                <i class="nav-icon fas fa-star"></i>
                                <p>
                                    Sosyal Medya
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Index/" class="nav-link">
                                <i class="nav-icon fas fa-pen"></i>
                                <p>
                                    Ayarlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Login/LogOut/" class="nav-link">
                                <i class="nav-icon fas fa-sign"></i>
                                <p>
                                    ÇIKIŞ YAP
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col md-12">
                        @RenderBody()
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <script src="/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>